<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel ="stylesheet" type="text/css" href="static/home.css"/>
   <link rel ="stylesheet" type="text/css" href="static/all_blogs.css"/> 

</head>
<body>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}










    {%if session["user"]%}
        <ul>
                <li ><a href="/main">Main Blog Page</a></li>
                <li ><a href="/newPost">Add a Blog Entry</a></li> 
                <a href="/logout">logout</a>
            </ul>
{%else%}
            <div>
                
                <a href="/signUp">signup</a>

            </div>
            {%endif%}  



{% block content %}
{% endblock%}



</body>
</html>